<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/images/SRM_University,_Haryana_logo.png" alt="University Logo">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Home</h1>
    <div class="button-group">
       <a href="/upload" class="button">Upload Question Paper</a>
        <br>
        <br><br>
        <a href="/getlinks" class="button">Get Exam File Links</a>
    </div>




</div>

<footer>
    <div class="footer-content">
        <p>Developed By - <strong>Medhansh Sharma</strong></p>
        <p>
            <button><a href="https://www.linkedin.com/in/medhansh-sharma-a3a9a2284/" target="_blank" class="linkedin-link">Connect with me on LinkedIn</a></button>
        </p>
        <p>
            Upload papers if you have and contribute in helping juniors.
        </p>
    </div>
</footer>
</body>
</html>
