<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam File Links</title>
    <link rel="icon" href="SRM_University,_Haryana_logo.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="main-content">
    <div class="container">
        <h1>Exam File Links</h1>
        <div th:if="${not #lists.isEmpty(links)}">
            <div class="links-container">
                <br>
                <a th:each="link, stat : ${links}" th:href="${link}" class="button" target="_blank">Download PDF [[${stat.index} + 1]]</a>
                <br>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(links)}">
            <p>Sorry, not available. We are trying to get it soon..</p>
        </div>
        <br>
        <br>
        <br>
        <div id="unsuccess">
            <button onclick="goBack()" class="back-button">Go Back</button>
            <br>
            <br>

            <a th:href="@{/home}" class="button">Back to Home</a>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <p>Developed By - <strong>Medhansh Sharma</strong></p>
        <p>
            <button> <a href="https://www.linkedin.com/in/medhansh-sharma-a3a9a2284/" target="_blank" class="linkedin-link">Connect with me on LinkedIn</a></button>
        </p>
        <p>
            Upload papers if you have and contribute to helping juniors.
        </p>
    </div>
</footer>
<script>
    function goBack() {
        window.history.back();
        setTimeout(function() {
            window.location.reload(); // Refresh the page after going back
        }, 1000);
    }
</script>
</body>
</html>
