<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Success</title>
    <link rel="icon" href="/SRM_University,_Haryana_logo.png">
<link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="succes">
    <h2>Successfully done !!!</h2>
    <a id="link" href="/home"><button>Home</button></a>
</div>

<footer>
    <div class="footer-content">
        <p>Developed By - <strong>Medhansh Sharma</strong></p>
        <p>
            <a href="https://www.linkedin.com/in/medhansh-sharma-a3a9a2284/" target="_blank" class="linkedin-link"><button>Connect with me on LinkedIn</button></a>
        </p>
        <p>
            Upload papers if you have and contribute in helping juniors.
        </p>
    </div>
</footer>
</body>
</html>