<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensure viewport is set -->
    <title>Failed</title>
    <link rel="icon" href="/images/SRM_University,_Haryana_logo.png" alt="University Logo">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h2>Unsuccessful, Try Again</h2>
<div id="unsuccess">
    <button onclick="function goBack() {
    window.history.back();
       setTimeout(function() {
        window.location.reload(); // Refresh the page after going back
    }, 1000);
    }
    goBack()" class="back-button">Go Back</button>
    <br>
    <br/>
    <a href="/home">
        <button id="home">Home</button>
    </a>
</div>
<footer>
    <div class="footer-content">
        <p>Developed By - <strong>Medhansh Sharma</strong></p>
        <p>
            <a href="https://www.linkedin.com/in/medhansh-sharma-a3a9a2284/" target="_blank" class="linkedin-link">
                Connect with me on LinkedIn
            </a>
        </p>
        <p>
            Upload papers if you have and contribute to helping juniors.
        </p>
    </div>
</footer>
<script src="/script.js"></script>
</body>
</html>
