
<title>Exam File</title>
<link id="theme-style" rel="stylesheet" href="/css/style-dark.css">
<div th:replace="~{fragments/navbar2 :: navbar2}"></div>
<!-- JavaScript for theme toggle -->

<div class="container">
    <h1>Get Exam File Links</h1>
    <hr class="styled-hr">
    <br>
    <form id="getLinksForm" action="userresponse/getlinks" method="get">
        <label for="getcourse">Course:</label>
        <select id="getCourse" name="course" required>
            <option value="" disabled selected>Select your course</option>
            <option value="Bachelor of Technology">Bachelor of Technology</option>
            <option value="Bachelor of Laws or Bachelor of Legislative Laws">Bachelor of Laws or Bachelor of Legislative Laws</option>
            <option value="Bachelor of Business Administration">Bachelor of Business Administration</option>
            <option value="Bachelor of Arts">Bachelor of Arts</option>
            <option value="Bachelor of Science">Bachelor of Science</option>
        </select>
        <br>
        <br>
        <label for="getbranch">Branch:</label>
        <select id="getBranch" name="branch" required>
            <option value="" disabled selected>Select your branch</option>
            <!-- Branch options will be populated based on selected course -->
        </select>
        <br>
        <br>
        <label for="getsemester">Semester:</label>
        <select id="getSemester" name="semester" required>
            <option value="" disabled selected>Select your semester</option>
            <!-- Semester options will be populated based on selected course -->
        </select>
        <br>
        <br>
        <button type="submit">Get Links <i class="fa-sharp fa-solid fa-file-arrow-down"></i></button>
    </form>
   <br>
    <br>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/script2.js" defer></script>
<script src="/js/script4.js"></script>
</body>

</html>
