<!DOCTYPE html>
<html>
<head>
    <title>Download Files</title>
    <link id="theme-style" rel="stylesheet" href="/css/style-dark.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7187335521257040"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/navbar2 :: navbar2}"></div>
<div class="main-content">
    <div class="container">
        <br>
        <br>
        <h1>Exam File Links :</h1>
        <hr class="styled-hr">
        <br>
        <br>
        <div th:if="${not #maps.isEmpty(links)}">
            <div th:if="${links.containsValue('pyq')}">
                <h2>Previous Year Questions :</h2>
                <div class="links-container">
                    <a th:each="link : ${links.entrySet()}"
                       th:if="${link.value == 'pyq'}"
                       th:href="${link.key}"
                       class="button"
                       target="_blank">
                        Download PYQ
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div th:if="${links.containsValue('study material')}">
                <h2>Study Materials :</h2>
                <div class="links-container">
                    <a th:each="link : ${links.entrySet()}"
                       th:if="${link.value == 'study material'}"
                       th:href="${link.key}"
                       class="button"
                       target="_blank">
                        Download Study Material
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div th:if="${#maps.isEmpty(links)}">
            <br>
            <p>Sorry, not available. We are trying to get it soon..</p>
        </div>

        <div id="unsuccess">
            <button onclick="goBack()" class="back-button">Go Back</button>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/script4.js"></script>
</body>
</html>