<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newPassword.css">
    <link rel="icon" href="/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> <!-- Google Font for Lobster -->
    <title>Set New Password</title>
    <!-- External CSS -->
</head>
<body>
<div class="navbar">
    <h1>PaperPal</h1>
</div>
<div class="container">
    <h2>Set New Password</h2>
    <hr>

<br>
    <br>
    <!-- Password Form -->
    <form id="passwordForm">
        <p id="email-name" th:text= '${email}'></p> <!-- Thymeleaf to display email -->
        <br>
        <br>
        <label for="newPassword">Enter new password:</label>
        <input type="password" id="newPassword" name="newPassword" required placeholder="New password">
        <br>
        <br>
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm new password">
        <br>
        <div id="passwordError" class="error-message hidden"></div> <!-- Error message for mismatching passwords -->
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

<!-- JavaScript -->
<script src="/js/newPassword.js"></script>
</body>
</html>
