<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload User Response</title>
    <link rel="icon" href="/images/SRM_University,_Haryana_logo.png">
    <link id="theme-style" rel="stylesheet" href="style-dark.css"> <!-- Default dark theme -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<!-- Desktop navigation -->
<div id="pc">
    <nav class="navbar">
        <a href="#" class="navbar-brand">PaperPal</a>
        <div class="navbar-links">
            <a href="#home">Home</a>
            <a href="#features">Features</a>
            <a href="#contact">Contact</a>
        </div>
        <a href="/home" class="button">Home <i class="fa-sharp fa-solid fa-house"></i></a>
        <button id="theme-toggle" class="navbar-btn">Theme <i class="fa-solid fa-circle-half-stroke"></i></button>
    </nav>
</div>

<!-- Mobile navigation -->
<div id="mobile">
    <nav class="navbarmini">
        <a href="#" class="navbar-brandmini" style="font-size: 2rem">PaperPal</a>
        <!-- Dropdown for mobile using checkbox -->
        <div id="dropdown-container">
            <input type="checkbox" id="dropdown-checkbox">
            <label class="dropdown-label" for="dropdown-checkbox">  <i class="fa-solid fa-bars"></i></label>
            <ul class="dropdown-list">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <a href="/home" class="button"><i class="fa-sharp fa-solid fa-house"></i></a>
        <button id="theme-toggles" class="navbar-btn"><i class="fa-solid fa-circle-half-stroke"></i></button>
    </nav>
</div>

<!-- JavaScript for theme toggle -->
<div class="container">
    <h1>Upload Question Paper</h1>
    <hr class="styled-hr">
    <br>
    <form id="uploadForm" action="/userresponse" method="post" enctype="multipart/form-data">
        <label for="getCourse">Course:</label>
        <select id="getCourse" name="course" required>
            <option value="" disabled selected>Select your course</option>
            <option value="Bachelor of Technology">Bachelor of Technology</option>
            <option value="Bachelor of Laws or Bachelor of Legislative Laws">Bachelor of Laws or Bachelor of Legislative Laws</option>
            <option value="Bachelor of Business Administration">Bachelor of Business Administration</option>
            <option value="Bachelor of Arts">Bachelor of Arts</option>
            <option value="Bachelor of Science">Bachelor of Science</option>
        </select>
        <br>
        <br>
        <label for="getBranch">Branch:</label>
        <select id="getBranch" name="branch" required>
            <option value="" disabled selected>Select your branch</option>
        </select>
        <br>
        <br>
        <label for="getSemester">Semester:</label>
        <select id="getSemester" name="semester" required>
            <option value="" disabled selected>Select your semester</option>
        </select>
        <br>
        <br>
        <label for="file">File: (file < 15MB)</label>
        <input type="file" id="file" name="file" required>
        <br>
        <br>
        <button type="submit">Upload <i class="fa-solid fa-file-arrow-up"></i></button>
    </form>
    <br>
    <br>
</div>

<footer>
    <div class="footer-content">
        <p>Developed By - <strong>Medhansh Sharma</strong></p>
        <p>
            <button><a href="https://www.linkedin.com/in/medhansh-sharma-a3a9a2284/" target="_blank" class="linkedin-link">Connect with me on LinkedIn <i class="fa-brands fa-linkedin"></i></a></button>
        </p>
        <p>
            Upload papers if you have and contribute in helping juniors.
        </p>
    </div>
</footer>
<script src="/script2.js" defer></script>
<script src="/script4.js"></script>

</body>

</html>
